.MyFormMainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.MyFormInputsCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 43%;
    width: 30%;
    background: rgb(1, 72, 73);
    // background: linear-gradient(0deg, rgba(218, 218, 218, 0.425) 39%, rgb(222, 184, 134) 100%);
    background: #000000c9;
    // background: linear-gradient(52deg, rgba(59, 50, 189, 1) 0%, rgba(59, 50, 189, 0.9108018207282913) 50%, rgba(126, 0, 236, 1)100%);
    box-shadow: 0px 0px 7px 1px #0000007a;
    border-radius: 7px;

    >span:first-child {
        color: white;
        text-align: center;
        height: 55px;
        margin: 9%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.196);
        width: 70%;
        font-size: 30px;
    }
}

.MyFormInputsDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // justify-content: center;
    align-items: center;
    width: 100%;
    // flex: 1;
    height: 34%;


}

.MyFormInputsDivErrorMessage {
    font-weight: bold;
    color: rgba(255, 0, 0, 0.856);
    font-size: 20px;
}

.MyFormButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    height: 20%;
}