.MyNavigationMainContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.142);
    z-index: 1;
    height: 45px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.343);
    transition: height 0.35s ease-in-out, background-color 0.35s ease-in-out;
    ;
    font-family: 'Oswald', sans-serif;

    &:hover {
        height: 65px;
        background-color: rgba(0, 0, 0, 0.58);
        transition: height 0.35s ease-in-out, background-color 0.35s ease-in-out;
    }
}

.MyNavigationMainContainer .MyNavigationUl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 98%;
    margin: 0;

    padding: 0;
    gap: 15px;
    list-style-type: none;

    >li {
        position: relative;
    }

    >li svg {
        color: rgba(179, 179, 179, 0.897);
        height: 40px;
        width: 40px;
    }

}

.MyNavigationUl .UserMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    bottom: -190px;
    left: -190px;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0px 0px 3px 0px #6a6a6a;

    >span {
        color: white;
        font-weight: bold;
        display: inline-block;
        // -webkit-text-stroke: 0.5px rgb(0, 0, 0);
        font-size: 19px;

        &:active {
            color: rgb(113, 188, 0);
        }
    }
}